<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pi Project inf_ef6 2023</title>
   </head>
   <body>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <nav>
         <h1>Flaskr</h1>
         <ul>
            <li><a href="{{ url_for('live_photos') }}">Camera Preview</a></li>
            {% if g.user %}
               <li><a href="{{ url_for('index') }}"></a></li>
               <li>a</li>
            {% else %}
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
               <li>b</li>
            {% endif %}
         </ul>
      </nav>

      <form action="submit_start_recording" method="POST" accept-charset="utf-8">
         <button type="submit">Start recording</button>
      </form>

      <!--- Print Messages --->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         {% for category, message in messages %}
            <script>alert('{{ category }}: {{ message }}')</script>
         {% endfor %}
      {% endif %}
      {% endwith %}

   </body>
</html>

