<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pi Project inf_ef6 2023</title>
   </head>
   <body>
      <h1>Pi Photos Live</h1>

      {% if session.live_photo_path %}
         <form action="/filedialog" method="POST">
            <span>The photos are stored under: {{ session.live_photo_path }}</span><br><br>
            <label for="filedialog">Choose a file:</label>
            <input id="filedialog" type="submit" value="Choose file">
         </form>
      {% else %}
         <p>Error: No image path received</p>
      {% endif %}

      <h2>Live Stream</h2>
      <img src="{{ url_for('video_feed') }}" width="640" height="480">
   </body>
</html>

