<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Pi Project inf_ef6 2023</title>
   </head>
   <body>
      <h1>Pi Photos Live</h1>

      {% if config.live_photo_path %}
         <form action="/filedialog" method="POST">
            <span>File location, from where the photo is read: {{ config.live_photo_path }}</span><br><br>
            <label for="filedialog">Choose a file:</label>
            <input id="filedialog" type="submit" value="Choose file">
         </form>
         <img src="{{ config.live_photo_path }}">
      {% else %}
         <p>Error: No image path received</p>
      {% endif %}

   </body>
</html>

